<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Student Management System</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Student Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/students}">Student Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
	<div class = "container">
		<div class = "row">
			<div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center"> Update Student </h1>
				<div class = "card-body">
					<form th:action="@{/students/{id} (id=${student.id})}" th:object = "${student}" method="POST">
						<div class ="form-group">
							<label> Student First Name </label>
							<input
							type = "text"
							name = "firstName"
							th:field = "*{firstName}"
							class = "form-control"
							placeholder="Enter Student First Name" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Student Last Name </label>
							<input
							type = "text"
							name = "lastName"
							th:field = "*{lastName}"
							class = "form-control"
							placeholder="Enter Student Last Name" 
							/>
						</div>
						<div class ="form-group">
							<label> Student's date of birth </label>
							<input
							type = "text"
							name = "dob"
							th:field = "*{dob}"
							class = "form-control"
							placeholder="Enter Student's date of birth" 
							/>
						</div>
						<div class ="form-group">
							<label> Student's gender </label>
							<input
							type = "text"
							name = "gender"
							th:field = "*{gender}"
							class = "form-control"
							placeholder="Enter Student's  gender" 
							/>
						</div>
						<div class ="form-group">
							<label> Student's address </label>
							<input
							type = "text"
							name = "address"
							th:field = "*{address}"
							class = "form-control"
							placeholder="Enter Student's address" 
							/>
						</div>
						<div class ="form-group">
							<label> Student's city </label>
							<input
							type = "text"
							name = "city"
							th:field = "*{city}"
							class = "form-control"
							placeholder="Enter Student's city" 
							/>
						</div>
						<div class ="form-group">
							<label> Student's pincode </label>
							<input
							type = "text"
							name = "pincode"
							th:field = "*{pincode}"
							class = "form-control"
							placeholder="Enter Student's pincode" 
							/>
						</div>
						<div class ="form-group">
							<label> Student's school Name </label>
							<input
							type = "text"
							name = "schoolname"
							th:field = "*{schoolname}"
							class = "form-control"
							placeholder="Enter Student's city" 
							/>
						</div>
						<div class ="form-group">
							<label> Student's father Name </label>
							<input
							type = "text"
							name = "fname"
							th:field = "*{fname}"
							class = "form-control"
							placeholder="Enter Student's fathers Name" 
							/>
						</div>
						<div class ="form-group">
							<label> Student's mother Name </label>
							<input
							type = "text"
							name = "mname"
							th:field = "*{mname}"
							class = "form-control"
							placeholder="Enter Student's mother Name" 
							/>
						</div>
						<div class ="form-group">
							<label> Student's father occupation </label>
							<input
							type = "text"
							name = "fathers_occu"
							th:field = "*{fathers_occu}"
							class = "form-control"
							placeholder="Enter Student's fathers occupation" 
							/>
						</div>
						<div class ="form-group">
							<label> parent's whatsapp number </label>
							<input
							type = "text"
							name = "whatsapp_number"
							th:field = "*{whatsapp_number}"
							class = "form-control"
							placeholder="Enter parents's whatsapp number" 
							/>
						</div>
						
						<div class ="form-group">
							<label> Student Email </label>
							<input
							type = "text"
							name = "email"
							th:field = "*{email}"
							class = "form-control"
							placeholder="Enter Student Email" 
							/>
						</div>
						
						<div class = "box-footer">
							<button type="submit" class = "btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				
				</div>
			</div>
		</div>
	</div>
</body>
</html>